<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: 'Description' %>
    <%= f.association :ingredient %>
    <%= f.submit 'Insert' %>
  <% end %>
</div>
